#item-content {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  background-color: orange;
  border : 1px solid black;
  padding: 20px;
  margin-top: 20px;
  width: 800px;
  border-radius: 10px;
}

#item-header {
  margin-bottom: 20px;
}

#item-header span {
  margin-right: 20px;
}

#item-body {
  display: flex;
  flex-direction: row;
}

#item-img {
  width: 60;
  height: 90px;
}

#item-img img {
  width: 100%;
  height: 100%;
}

#item-txt {
  margin-left: 20px;
}

#item-txt p {
  margin: 0px 20px 5px 0px;
}

#item-btn {
  margin-left: 20px;
}

#item-btn button {
  margin-bottom: 20px;
  width: 150px;
  height: 30px;
}

/* #itemInfo {
    background-color: orange; 
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center; flex 요소의 수직방향 정렬방식 결정 
  justify-content: space-around; flex 요소의 수평방향 정렬방식 결정
}

#item-img {
  width: 70px;
  height: 85px;
}

#item-img img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}


#content p {
  font-size: 11px;
} */