#side-navbar {
  background-color: yellow;
  height: 100%;
  width: 250px;
  position: fixed;
}

/* 최근 기록 버튼 */
#section button{
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  width: 100px;
  padding: 5px;
  margin-right: 20px;
  margin-top: 20px;
  /* font-color */
}

/* a 태그 밑줄 제거 */
#side-navbar a {
  text-decoration: none;
  color : black;
}

#side-navbar li {
  /* 점 제거 */
  list-style:none; 
  /* 블럭 사이 공간 */
  margin-bottom: 30px;
  
}

#main {
  margin-left: 300px;
  /* display: flex; */
}
