.Signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Signup input {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.Signup .signup_phone {
  width: 300px;

}